Read data from file

In [2]:
import pandas as pd
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

 How many of each race are represented in this dataset?

In [3]:
race_count = df.race.value_counts()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

What is the average age of men?

In [4]:
x = df.loc[df.sex =='Male', 'age']
average_age_men = x.mean()
print(average_age_men)

39.43354749885268

What is the percentage of people who have a Bachelor's degree?

In [48]:
a = df['education'].value_counts(normalize=True) * 100
percentage_bachelors = a.iloc[2]

print(percentage_bachelors)

16.44605509658794

What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
What percentage of people without advanced education make more than 50K?

With and without `Bachelors`, `Masters`, or `Doctorate`:

In [56]:
#people with higher degree:
bsc = df.loc[df.education == 'Bachelors'] 
msc = df.loc[df.education == 'Masters']
phd = df.loc[df.education == 'Doctorate']

higher_education = bsc['salary'].value_counts(normalize=True) *100
print(higher_education)

<=50K    58.524743
>50K     41.475257
Name: salary, dtype: float64