Read data from file

In [4]:
import pandas as pd
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

 How many of each race are represented in this dataset?

In [5]:
race_count = df.race.value_counts()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

What is the average age of men?

In [6]:
x = df.loc[df.sex =='Male', 'age']
average_age_men = x.mean()
print(average_age_men)

39.43354749885268

What is the percentage of people who have a Bachelor's degree?

In [7]:
a = df['education'].value_counts(normalize=True) * 100
percentage_bachelors = a.iloc[2]

print(percentage_bachelors)

16.44605509658794

What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
What percentage of people without advanced education make more than 50K?

With and without `Bachelors`, `Masters`, or `Doctorate`:

In [57]:
#percentage of people with degrees:
higher_ed = df.education.isin(['Bachelors', 'Masters', 'Doctorate']).value_counts(normalize=True)*100 
higher_education = higher_ed.iloc[1]
#percentage of people without degrees
lower_education = higher_ed.iloc[0]
print(higher_education)
print(lower_education)

#percentage of people with degrees earning over 50k:
clever = df.loc[df.education.isin(['Bachelors', 'Masters', 'Doctorate']), 'salary']
higher_education_rich = clever.loc[df.salary == '>50K']
print(higher_education_rich)
less_clever = df.loc[df.education.isin(['Bachelors', 'Masters', 'Doctorate']) == False, 'salary']
lower_education_rich = less_clever.loc[df.salary=='>50K']
print(lower_education_rich)

23.006050182733944
76.99394981726606
8        >50K
9        >50K
11       >50K
19       >50K
20       >50K
         ...
32533    >50K
32536    >50K
32538    >50K
32539    >50K
32554    >50K
Name: salary, Length: 3486, dtype: object
7        >50K
10       >50K
14       >50K
27       >50K
38       >50K
         ...
32518    >50K
32519    >50K
32545    >50K
32557    >50K
32560    >50K
Name: salary, Length: 4355, dtype: object

What is the minimum number of hours a person works per week (hours-per-week)?

In [59]:
min_work_hours = df['hours-per-week'].min()

What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [69]:
#First we find the percentage of people working only 1 hour per week:
num_min_workers = None
#Next, we'll find out the percentage of these people who earn more than 50K:
df['hours-per-week'].idxmin()
#The above returns the row number 189, hence to find the corresponding salary:
df.loc[189, 'salary']

'>50K'